*{margin: 0;padding: 0;font-size: 14px;font-family: '微软雅黑';}
.head{width: 100%;height: 60px;background: #333333;min-width: 700px;}
.head .img{display:inline-block;width: 115px;height: 40px;margin-left:20px;margin-top:10px;background: url('bd.png') center no-repeat;background-size: 115px 40px;}
.head .nav{line-height:60px;float: right;}
.head .nav a{text-decoration:none;color: #fff;}
.head .nav li{float: left;margin-right: 25px;}
.foot{width: 100%;height: 60px;background: #333333;text-align: center;line-height: 60px;color: #fff;min-width: 700px;}
.body{padding: 20px;background:#DEDEDE;min-width: 700px;}
.body .box{margin-right: 360px;}
.body .right{width: 300px;float:right;background: #fff;padding: 20px;border-radius: 1px;border-top: 1px solid #b9b6b6;border-left: 1px solid #b9b6b6;box-shadow:1px 1px 0px 1px #999;}
.body section{overflow:hidden;border-radius: 1px;border-top: 1px solid #b9b6b6;border-left: 1px solid #b9b6b6;box-shadow:1px 1px 0px 1px #999;background: #fff;margin-top: 20px;padding: 20px;}
.body .sec_1{margin: 0;}
.body section h3{font-size: 18px;color: #000;margin-bottom: 20px;}
.body section h4{font-size: 15px;color: #676863;margin-bottom: 20px;}
.body section .time{margin-bottom: 20px;text-indent: 0;}
.body section .time span{font-size: 12px;color: #999;margin-right: 20px;}
.body p{text-indent: 2em;color:#000;line-height: 30px;font-weight: 500;}
.body img{margin-top:20px;margin-bottom:20px;}
.body .sec_1 img,body .sec_2 img{width: 80%;}
.body .list{list-style: none;margin-left: 2em;font-weight: 500; }
.body .list li{margin-bottom: 8px;}
.body .sec_3{overflow: hidden;}
.body .imglist{list-style: none;width: 80%;margin: 20px;overflow: hidden;}
.body .imglist h4{margin: 0;text-align: center;line-height: 30px;font-size: 12px;}
.body .imglist img{margin: 0 20px 20px 20px;}
.body .imglist li{float: left;margin: 10px;border: 1px solid #ccc;}
.body .sec_4 .list4{margin-left: 3em;font-weight: bold;}
.body .sec_4 .list4 li{margin-bottom: 8px;}
.body .sec_4 .table{width: 100%;border-collapse: collapse;border:1px solid #999;}
.body .sec_4 .table .head{background: #333;color: #fff;text-align: left;line-height: 25px;}
.body .sec_4 .table th,.body .sec_4 .table td{text-indent: 5px;border:1px solid #999;}
.body .sec_4 .table tbody{line-height: 25px;}
.body .sec_4 .table .foot{background: #CCCCCC;line-height: 25px;text-align: left;color: #000;font-weight: bold;border: none;}
/*侧栏*/
.right h3{padding-left: 2em;border-left: 3px solid #666;line-height: 30px;}
.right form{width: 100%;}