*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}
.box{
	padding: 15px 5px;
	width: 100%;
}
.head{
	list-style: none;
}
.all{
	color: black;
	text-decoration:none;
}
.all,.in{
	padding: 5px;
	border-radius: 5px;
	transition:all 0.5s;
}
.all:hover{
	color: #fff;
	background: black;
}
ul{
	list-style: none;
	overflow: hidden;
	padding: 10px;
}
ul li{
	float: left;
	margin: 10px;
	text-align: center;
	border-radius: 10px;
	-webkit-transition:all 0.5s;
	cursor: pointer;
}
ul li img{
	width: 300px;
}
ul li:hover{
	background: rgba(255,255,255,0.6);
}
